################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/hrdwr3d/v15/Browse.VC.opendb
