################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/hrdwr3d/v15/Browse.VC.opendb
*.log
*.tlog
*.obj
*.ipch
*.pdb
*.ilk
*.lastbuildstate
*.idb
*.db
*.suo



